<div class="sjjk_left">
    <!--<select id="AppID">
        #foreach($app in ${AppList.Rows})
        <option value="${app.AppID}" #if($AppID==${app.AppID}) selected #end>${app.DisplayName}</option>
        #end
    </select>-->
    <div class="flexible">
        <span id="expandAll" class="easyui-linkbutton">全部展开</span> <span id="collapseAll" class="easyui-linkbutton">全部收缩</span>
    </div>
    <div class="sjjk_con" id="categorytree">
    </div>
</div>
<link href="~/Static/Home/css/shcommon.css" rel="stylesheet" />
<script src="~/Static/PortalIPS/js/categoryTree.js"></script>
 
