@{ ViewBag.Title = "ads"; }

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>s栏目管理</title>
    @RenderPage("~/Views/includeM/head.cshtml")
    <script src="/Static/manage/js/checkfrom.js"></script>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>
                <a href="~/Views/Manage/mains">首页</a>
            </li>
            <li>广告位管理</li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar2">
                <li>
                    <a href="#" class="current">广告位管理</a>
                </li>
            </ul>
        </div>

        <div>
            <table width="100%" cellpadding="0" cellspacing="0" class="cast_list">
                <tr>
                    <th width="5%">栏目ID</th>
                    <th width="10%">栏目名称</th>
                    <th width="10%">栏目类型</th>
                    <th width="10%">数据量</th>
                    <th width="35%">管理操作</th>
                </tr>

                <tr>
                    <td width="5%">6</td>
                    <td width="10%" align="left" class="tl">【首页轮播】</td>
                    <td width="10%">广告列表</td>
                    <td width="10%">4</td>
                    <td width="35%">
                        <a href="ad.php?pid=6&ty=54" style="color:red">广告管理</a>&nbsp;
                    </td>
                </tr>

            </table>
        </div>

        <div class="clear"></div>

    </div>

</body>

</html>