<!-----------------------所有视频、音频、经文列表（读活）----------------------------------->
<div id="article">
    <div class="row reviewVideos">
        <div class="col-lg-12 col-xs-12" style="background:#403b3b;margin-bottom:10px;">
            <div class="col-lg-3 col-xs-3" style="background:#ac2b2b;padding-top:5px;text-align:center">
                <p style="color:#fff;font-size:22px">所有内容</p>
            </div>
            <div class="col-lg-9 col-xs-9"></div>
        </div>
        <div class="col-lg-12 col-xs-12 news">
            <div class="col-lg-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item" id="1">20161107 不要在上帝的恩典里出局</li>
                        <li class="list-group-item" id="2">20161106 不要在上帝的恩典里出局</li>
                        <li class="list-group-item" id="3">20161105 不要在上帝的恩典里出局</li>
                        <li class="list-group-item" id="4">20161104 不要在上帝的恩典里出局</li>
                        <li class="list-group-item" id="">20161103 不要在上帝的恩典里出局</li>
                        <li class="list-group-item" id="">20161102 不要在上帝的恩典里出局</li>
                        <li class="list-group-item" id="">20161101 不要在上帝的恩典里出局</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item">20161107 回到上帝的恩典里</li>
                        <li class="list-group-item">20161106 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161105 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161104 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161103 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161102 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161101 不要在上帝的恩典里出局</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12" style="display:none;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item">20161107 不要用辖制的爱去爱别人</li>
                        <li class="list-group-item">20161106 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161105 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161104 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161103 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161102 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161101 不要在上帝的恩典里出局</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item">20161107 在爱里没有恐惧</li>
                        <li class="list-group-item">20161106 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161105 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161104 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161103 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161102 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161101 不要在上帝的恩典里出局</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12" style="display:none;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item">20161107 面对自己的问题</li>
                        <li class="list-group-item">20161106 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161105 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161104 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161103 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161102 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161101 不要在上帝的恩典里出局</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="list-group">
                        <li class="list-group-item">20161107 持守圣洁在信心里</li>
                        <li class="list-group-item">20161106 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161105 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161104 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161103 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161102 不要在上帝的恩典里出局</li>
                        <li class="list-group-item">20161101 不要在上帝的恩典里出局</li>
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" id="start_page">
        <input type="hidden" id="current_page" />
        <input type="hidden" id="show_per_page" />
        <input type="hidden" id="end_page">
        <!------------分页(article.js)----------------->
        <div id="pageGro" class="col-lg-12 col-xs-12 cb">
            <div class="pagestart">首页</div>
            <div class="pageUp">上一页</div>
            <div class="pageList">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <div class="pageDown">下一页</div>
            <div class="pageend">尾页</div>
        </div>
        <!------------end分页----------------->
    </div>
</div>