@{
    ViewBag.Title = "Encyclopedias";
}
<!DOCTYPE html>
<html>
<head>
    <title>人生百科</title>
    @RenderPage("~/Views/include/headcss.cshtml")
</head>
<body>
    <!------------视频、图文、音频信息（读活）----------->
    <div class="container" id="Encyclopedias">
        @RenderPage("~/Views/include/heads.cshtml")
        <div class="title-img">
            <img src="~/assets/img/Spiritual1-01.png" />
        </div>
       <!-----------寇绍恩分享汇:天堂在我家------------->
        <div id="tiantangAt">
            <div class="areaItem row">
                <p class="col-lg-12 col-sm-12 col-md-12 col-xs-12">【寇绍恩分享汇】</p>
            </div>
            <div class="row itemTitle">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 title">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img">
                        <img src="~/assets/img/spiritual_04.jpg" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 content">
                        <p>《天堂在我家》</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 grey"></div>
            </div>
            <div class="row itemContent">
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 iframe">
                    <embed id="js_video_1" class="js_videoCon" width="640" height="498" src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=u0356e9jger&auto=0" allowfullscreen="true" quality="high" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                    <article>
                        <p class="title_1 Vedio_title">20161108成为合神心意的人</p>
                        <p class="content">创4:4-5......耶和华看中了亚伯和他的供物，只是看不中该隐和他的供物......</p>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ps Vedio">
                    <article>
                        <p id="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=u0356e9jger&auto=0"><span>20161107</span>不要在上帝的恩典里出局</p>
                        <p><span>20161106</span>回到上帝</p>
                        <p><span>20161105</span>不要在上帝的恩典里出局</p>
                        <p class="videoMore">更多... ...</p>
                    </article>
                </div>
            </div>
        </div>
            <!-----------寇绍恩分享汇:家庭会客室------------->
        <div id="jiatinghuikeshi">
            <div class="row itemTitle">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 title">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img">
                        <img src="~/assets/img/spiritual_04.jpg" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 content">
                        <p>《家庭会客室》</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 grey"></div>
            </div>
            <div class="row itemContent">
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 iframe">
                    <embed id="js_video_1" class="js_videoCon" width="640" height="498" src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=u0356e9jger&auto=0" allowfullscreen="true" quality="high" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                    <article>
                        <p class="title_1 Vedio_title">20161108成为合神心意的人</p>
                        <p class="content">创4:4-5......耶和华看中了亚伯和他的供物，只是看不中该隐和他的供物......</p>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ps Vedio">
                    <article>
                        <p id="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=u0356e9jger&auto=0"><span>20161107</span>不要在上帝的恩典里出局</p>
                        <p><span>20161106</span>回到上帝</p>
                        <p><span>20161105</span>不要在上帝的恩典里出局</p>
                        <p class="videoMore">更多... ...</p>
                    </article>
                </div>
            </div>
        </div>
            <!-----------寇绍恩分享汇:恩典记号------------->
        <div id="endianjihao" class="parents">
            <div class="row itemTitle">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 title">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img">
                        <img src="~/assets/img/spiritual_12.jpg" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 content">
                        <p>《恩典记号》</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 grey"></div>
            </div>
            <div class="row itemContent">
                <div class="col-lg-5  col-md-5 col-sm-5 col-xs-6 iframe">
                    <div class="more">
                        <p id="1">揪心的春节</p>
                        <p id="2">中华文化</p>
                        <p id="3">圣经</p>
                        <p>圣经的真理性</p>
                        <p>第一讲</p>
                        <p>基督教</p>
                        <p class="articleMore">更多... ...</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 ps">
                    <div class="scripture"></div>
                </div>
            </div>
        </div>

        <!-----------寇绍恩分享汇:生命的问题------------->
        <div id="shengmingwenti" class="parents">
            <div class="row itemTitle">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 title">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img">
                        <img src="~/assets/img/spiritual_12.jpg" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 content">
                        <p>《生命的问题》</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 grey"></div>
            </div>
            <div class="row itemContent">
                <div class="col-lg-5  col-md-5 col-sm-5 col-xs-6 iframe">
                    <div class="more">
                        <p id="">圣经的真理性+第一讲：基督教与中华文化</p>
                        <p>圣经的真理性+第一讲：基督教与中华文化</p>
                        <p>圣经的真理性+第一讲：基督教与中华文化</p>
                        <p>圣经的真理性+第一讲：基督教与中华文化</p>
                        <p>圣经的真理性+第一讲：基督教与中华文化</p>
                        <p>圣经的真理性+第一讲：基督教与中华文化</p>
                        <p class="articleMore">更多... ...</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6 ps">
                    <div class="scripture"></div>
                </div>
            </div>
        </div>
            <!-----------寇绍恩分享汇:天籁之音------------->
        <div id="tianlaizhiyin">
            <div class="row itemTitle">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 title">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img">
                        <img src="~/assets/img/spiritual_04.jpg" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 content">
                        <p>《天籁之音》</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 grey"></div>
            </div>
            <div class="row itemContent">
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 iframe">
                    <embed id="js_video_1" class="js_videoCon" width="640" height="498" src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=u0356e9jger&auto=0" allowfullscreen="true" quality="high" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                    <article>
                        <p class="title_1 Vedio_title">20161108成为合神心意的人</p>
                        <p class="content">创4:4-5......耶和华看中了亚伯和他的供物，只是看不中该隐和他的供物......</p>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ps Vedio">
                    <article>
                        <p id="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=u0356e9jger&auto=0"><span>20161107</span>不要在上帝的恩典里出局</p>
                        <p><span>20161106</span>回到上帝</p>
                        <p><span>20161105</span>不要在上帝的恩典里出局</p>
                        <p class="videoMore">更多... ...</p>
                    </article>
                </div>
            </div>
        </div>
        @RenderPage("~/Views/include/foot.cshtml")
    </div>
    @RenderPage("~/Views/include/footjs.cshtml")
</body>
</html>