@{
    ViewBag.Title = "Interaction";
}
<!DOCTYPE html>
<html>
<head>
    <!------------该部分内容已舍弃----------->
    <title>互动天地</title>
    @RenderPage("~/Views/include/headcss.cshtml")
</head>
<body>
    <div class="container" id="Interaction">
        @RenderPage("~/Views/include/heads.cshtml")
        <div class="title-img">
            <img src="~/assets/img/Encyclopedias-03.png" />
        </div>
        <!-----------------天声小店@微店--------------------->
        <div id="tianShengShop">
            <div class="row areaItem ">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12"></div>
                <p>【天声小店@微店】</p>
            </div>
            <div class="row itemContent" style="margin-top:20px;">
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 smallShop">
                    <a onclick="window.open('https://weidian.com/?userid=975508089&historyBack=true')" href="#">天声小店</a>
                    <p>恩典365天声小店</p>
                </div>*@
            </div>
        </div>
        <!-----------------问卷调查--------------------->
        <div id="wenJuanDiaoCha">
            <div class="row areaItem">
                <p class="col-lg-12 col-sm-12 col-md-12 col-xs-12">【问卷调查】</p>
            </div>
            <div class="row itemContent">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ps">

                </div>
            </div>
        </div>
        @RenderPage("~/Views/include/foot.cshtml")
    </div>
    @RenderPage("~/Views/include/footjs.cshtml")
</body>
</html>