<div class="row searchBox">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="text-align:left;padding:10px 0px">
        <span>快速查询：</span>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <input type="text" name="keyword" value="" placeholder="請輸入關鍵字" />
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <select>
            <option value="">全部系列</option>
            <option value="">全部系列</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <select>
            <option value="">全部類別</option>
            <option value="">全部系列</option>
        </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <select>
            <option value="">全部牧者/講員</option>
            <option value="">講員</option>
        </select>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
        <button type="button" class="btn btn-default">搜尋</button>
    </div>
</div>
