@using Yamon.Module.PortalIPS.Entity
@using Yamon.Module.PortalIPS.DAL
@{
    CategoryDAL categoryDal = (CategoryDAL)ViewBag.CategoryDAL;
    InformationDAL infoDal = (InformationDAL)ViewBag.InformationDAL;
    Category categoryerweima = categoryDal.GetInfoByID(categoryDal.GetIdByKey("erweima"));
    Category categoryeremail = categoryDal.GetInfoByID(categoryDal.GetIdByKey("email"));
    Category categoryerlinks = categoryDal.GetInfoByID(categoryDal.GetIdByKey("links"));
    vwInfoCategoryDAL vwinfoDAL = new vwInfoCategoryDAL();
    List<vwInfoCategory> emailLists = vwinfoDAL.GetEntityList("CategoryID=? and Status='CHECKED' ", new object[] { categoryeremail.CategoryID }, "BackInt desc");
   
}
<footer class="footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p class="contactTitle">联系方式：</p>
            @if (emailLists.Count > 0)
            {
                vwInfoCategory ifc = emailLists[0];
                <p>@ifc.Title：@ifc.SubTitle</p>
            }
            <p class="joinUs" style="margin-top:30px;cursor:pointer;" onclick="window.open('/Default/Index?cid=11f75f7c-4a3d-48aa-846c-2545f7f69eb3#contactAndJoin')">留言给我们：</p>
        </div>
        @{
            List<vwInfoCategory> erweimabList = vwinfoDAL.GetEntityList("CategoryID=? and Status='CHECKED' ", new object[] { categoryerweima.CategoryID }, "CreateTime desc", 2);
        }
       @if (erweimabList.Count > 0)
       {
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 friendTitleImg" style="text-align:center;">
            @foreach (vwInfoCategory Info in erweimabList)
            {
                <div class="col-lg-6 col-sm-4 col-md-6 col-xs-4">
                    <img src="@Info.MediaFileName" />
                    <p>@Info.Title</p>
                </div>
            }
        </div>
       }
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p class="friendTitle">友站连结：</p>
            <div class="FriendStaion">
                @{
                    List<vwInfoCategory>linkList=vwinfoDAL.GetEntityList("CategoryID=? and Status='CHECKED' ", new object[] { categoryerlinks.CategoryID }, "BackInt desc",8);
                }
                @if (linkList.Count > 0)
                {
                    foreach (vwInfoCategory Info in linkList)
                    {
                        <p><a href=@Info.BackNvarchar4 target="_blank">@Info.Title</a></p>
                    }
                }
            </div>
        </div>
    </div>
    <div class="backUp" id="backUp">
        <a href="javascript:;">返回</a>
    </div>
</footer>
