<?xml version="1.0" encoding="utf-16"?>
<MyNameValueCollection>
  <Header name="cbxFileLength" value="" />
  <Header name="txtFileName" value="" />
  <Header name="txtFileLength" value="2048" />
  <Header name="txtFileType" value="MP3|wma|wav" />
  <Header name="txtFileSavePath" value="UploadFiles/" />
  <Header name="dropFileType" value="${Random}" />
  <Header name="txtFileUrl" value="音频地址" />
</MyNameValueCollection>