<?xml version="1.0" encoding="utf-16"?>
<MyNameValueCollection>
  <Header name="cbxFileLength" value="" />
  <Header name="txtFileName" value="" />
  <Header name="txtFileLength" value="2048" />
  <Header name="txtFileType" value="rar|doc|xls|docx|pdf|rar|zip|xlsx" />
  <Header name="txtFileSavePath" value="UploadFiles/Attachment/${Year}/${Month}/${Day}/" />
  <Header name="dropFileType" value="${Random}" />
  <Header name="txtFileUrl" value="下载地址" />
</MyNameValueCollection>