<?xml version="1.0" encoding="utf-16"?>
<MyNameValueCollection>
  <Header name="cbxFileLength" value="" />
  <Header name="txtFileName" value="" />
  <Header name="txtFileLength" value="2048" />
  <Header name="txtFileType" value="rar|doc|xls" />
  <Header name="txtFileSavePath" value="UploadFiles/" />
  <Header name="dropFileType" value="" />
  <Header name="txtFileUrl" value="下载地址" />
</MyNameValueCollection>